:root {
    --Poppins-font: "poppins", cursive;
    --Rubik-font: "Rubik", cursive;
    --orange-theme: #d1410c;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

.navbar {
    padding: 0;
}

.navbar .container-fluid a.navbar-brand {
    padding: 15px 10px 15px 10px;
    color: var(--orange-theme);
    font-weight: 700;
    font-size: 26px;

}

.navbar .container-fluid .navbar-collapse .d-flex .search-header {
    background: url(../images/search-icon.png) no-repeat 0 6px #F8F7FA;
    background-size: 16px 16px;
    background-position-y: center;
    background-position-x: 15px;
    border: none;
    height: 46px;
    font-size: 16px;
    font-weight: 700;
    min-width: 475px;
    padding-left: 50px;
}

.navbar .container-fluid .navbar-collapse .d-flex .search-header::placeholder {
    color: #D5D4DA;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    left: 10px;
}

.navbar .container-fluid .navbar-collapse .navbar-nav li.nav-item {
    padding: 0 15px 0 15px;

}

.navbar .container-fluid .navbar-collapse .navbar-nav li.nav-item .dropdown .nav-link {
    font-size: 12px;
    font-weight: 700;
    color: #39364F;
}

.navbar .container-fluid .navbar-collapse .navbar-nav li.nav-item .dropdown .nav-link i {
    color: #D5D4DA;
    font-size: 10px;
    padding-left: 6px;
}

.navbar .container-fluid .navbar-collapse .navbar-nav li.nav-item .nav-link {
    font-size: 12px;
    font-weight: 700;
    color: #39364F;
}

.navbar .container-fluid .navbar-collapse .navbar-nav li.nav-item .exception {
    font-size: 12px;
    font-weight: 700;
    color: #3D64FF;

}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 250px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0px;
}


.dropdown-content a {
    color: #919094;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background: #F8F7FA;
    color: #39364F;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .container-fluid .container-bg {
    background-image: url('../images/container-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 398px;
    background-size: cover;
}

header .container-fluid .container-bg .bg-splash #home-header-text_svg {
    max-height: 220px;
    height: 100%;
    display: block;
    margin: 70px 10px 10px 50px;

}

header .container-fluid .container-bg .bg-splash a {
    max-height: 200px;
    color: #fff;
    background-color: var(--orange-theme);
    border-color: var(--orange-theme);
    font-weight: 600;
    font-size: 14px;
    margin: 10px 10px 10px 50px;
}

.section-notification .container-fluid .row .notification .notify-message {
    margin-top: 30px;
    padding: 15px 0px 1px 20px;
    border-left: 4px solid var(--orange-theme);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 93%;
}

.section-notification .container-fluid .row .notification .notify-message h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-notification .container-fluid .row .notification .notify-message p {
    font-size: 14px;
    font-weight: 500;
}

.section-notification .container-fluid .row .col-md-12 h1 {
    font-size: 40px;
    font-weight: 900;
}

.section-notification {
    margin-bottom: 50px;
    position: relative;
}

footer {
    background: #1E0A3C;
}